.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(white, #aa9cc0, #a99bbf, #c8acc3, #d2abc0, white);
}

nav{
    position: absolute;
    font-size: 20px;
}
@keyframes changeContent {
    0% {
      opacity: 1;
      content: "jenny liu"
    }
    17% {
      opacity: 0;
    }
    33% {
        opacity: 1;
        content: "of june skies"
    }
    50% {
        opacity: 0;
    }
    67% {
      opacity: 1;
      content: "刘书瑷";
    }
    83%{
        opacity: 0;
    }
    100% {
        opacity: 1;
        content: "jenny liu";
    }
  }

.name{
    max-height: 70px;
    min-height: 70px;
    font-family: "Josefins Sans";
    position: relative;
    text-align: center;
    color: white;
    border: none;
    font-size: 65px;
    margin-bottom: 90px;
    margin-top: 90px;
}

.name:after{
    animation-fill-mode: forwards;
    animation: changeContent 7s linear infinite forwards;
    content: 'jenny liu'
}

#name:hover span{
    display: none;
}



.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(images/sky1.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner .clouds{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     overflow: hidden;
     pointer-events: none;
     margin-top: 90px;
}

.banner .clouds img{
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: animate calc(3s * var(--i)) linear infinite;
}

.clouds-down{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    transform: scaleY(-1);
}

.clouds-down img{
   position: absolute;
   bottom: 0;
   max-width: 100%;
   animation: animate calc(3s * var(--i)) linear infinite;
}


@keyframes animate{
    0%{
        opacity: 0;
        transform: scale(1);
    }
    25%,75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: scale(3);
    }
}



#about{
    background-color: #7c7ba5;
    padding: 0vw 4vw 4vw 2.3vw;
    line-height: 1;
    margin: 0px 20vw 0px 20vw;
    border: 7px solid #66648b;
    border-radius: 50px;
}

.under_text{
    line-height: 1.3vw;
    font-size: 1vw;
}

.about_text{
    font-family: "Anton";
    font-size: 3vw;
    color: white;
    letter-spacing: 6px;
    float: right;
}

.paragraph{
    font-family: "Avantgarde", cursive;
    color: white;
    font-size: 1.5vw;
    line-height: 1.6;
    margin-left: 30px;
}

.image{
    flex-basis: 20%;
    position: relative;
    right: 0px;
    transition: 1.5s;
    overflow: hidden;
}

.me_image{
    border-radius: 20px;
    box-shadow: 8px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 1.5s;
    width: 20vw;
}

.exp_image{
    margin-bottom: 30px;
    overflow: hidden;
    height: 310px;
    min-width: 155px;
}

.wrapper{
    display: grid;
    align-items: center;
    justify-content: center;
}

.wrapper:hover .me_image {
    transition: 1.5s;
    right: 25vw; 
}

.wrapper:hover .exp_image{
    transition: 0.8s;
    opacity: 0;
}


.parent {
    position: relative;
    top: 0;
    left: 0;
  }

.layer2 {
    position: absolute;
    font-family: Silkscreen;
    color: white;
    display: grid;
    vertical-align: middle;
    left: 50%;
    transform: translateX(-50%);

}

.container{
    display: flex;
    align-items: center;
    justify-content: center
}

#experience{
    margin-top: 50px;
    align-items: center;
    justify-items: center;
    left: 50%;
}


.exp_text{
    font-family: "Anton";
    font-size: 40px;
    color: white;
    letter-spacing: 6px;
    text-align: center;
    margin-bottom: 40px;
}

.bio_text{
    font-size: 14px;
    max-height: 300px;
    min-width: 200px;
}

#break{
    padding: 50px 10px 50px 10px;
    background-color: #b3a4c5;
    line-height: 1;
    /*margin: 75px 400px 40px 400px;*/
    border: 7px solid #8d819c;
    border-radius: 50px;
    vertical-align: middle;
}

.quote{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    line-height: normal;
    font-size: 18px;
}

.ground{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(images/ground.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;

}

.justClouds{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}


.justClouds .clouds{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     overflow: hidden;
     pointer-events: none;
}

.justClouds .clouds img{
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: animate calc(3s * var(--i)) linear infinite;
}

#spotify{
    padding: 50px 40px 50px 40px;
    background-color: #a5aad1;
    line-height: 1;
    /*margin: 75px 250px 0px 250px;*/
    border: 7px solid #8387a8;
    border-radius: 50px;
    vertical-align: middle;

    /* text */
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
    font-family: "Avantgarde", cursive;
    color: white;
}

.playlists{
    display: grid;
    grid-auto-flow: column;
    /*gap: 20px;*/
    align-items: center;
    justify-items: center;
}

#contact{
    background-color: #05080f;
    height: 120px;
    text-align: center;
}

.button1{
    height: 60px;
    display: flex;
    gap: 50px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: inline-block;
    margin: 10px 15px 0px 15px;

}

.button1:hover{
    transform: scale(1.1);
}
