*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#spotify{
    padding: 50px 10px 50px 10px;
    background-color: #c299b0;
    line-height: 1;
    margin: 75px 250px 0px 250px;
    border: 7px solid #9e7a8e;
    border-radius: 50px;
    vertical-align: middle;

    /* text */
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
    font-family: "Avantgarde", cursive;
    color: white;
}

@keyframes changeContent {
    0% {
      opacity: 1;
      content: "jenny liu"
    }
    17% {
      opacity: 0;
    }
    33% {
        opacity: 1;
        content: "of june skies"
    }
    50% {
        opacity: 0;
    }
    67% {
      opacity: 1;
      content: "刘书瑷";
    }
    83%{
        opacity: 0;
    }
    100% {
        opacity: 1;
        content: "jenny liu";
    }
  }

.name{
    max-height: 70px;
    min-height: 70px;
    font-family: "Josefins Sans";
    position: relative;
    text-align: center;
    color: white;
    border: none;
    font-size: 65px;
    margin-bottom: 90px;
    margin-top: 90px;
}

.name:after{
    animation-fill-mode: forwards;
    animation: changeContent 7s linear infinite forwards;
    content: 'jenny liu'
}

#name:hover span{
    display: none;
}


.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(images/sky1.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}


.banner .clouds{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     overflow: hidden;
     pointer-events: none;
     margin-top: 90px;
}

.banner .clouds img{
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: animate calc(3s * var(--i)) linear infinite;
}

.clouds-down{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    transform: scaleY(-1);
}

.clouds-down img{
   position: absolute;
   bottom: 0;
   max-width: 100%;
   animation: animate calc(3s * var(--i)) linear infinite;
}


@keyframes animate{
    0%{
        opacity: 0;
        transform: scale(1);
    }
    25%,75%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: scale(3);
    }
}



#contact{
    background-color: #05080f;
    height: 120px;
    text-align: center;
}

.button1{
    height: 60px;
    display: flex;
    gap: 50px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: inline-block;
    margin: 10px 15px 0px 15px;

}

.button1:hover{
    transform: scale(1.1);
}

#about{
    background-color: #7c7ba5;
    padding: 30px 30px 30px 30px;
    line-height: 1;
    margin: 0px 250px 0px 250px;
    border: 7px solid #66648b;
    border-radius: 50px;
}

.about_text{
    font-family: "Anton";
    font-size: 40px;
    color: white;
    letter-spacing: 6px;
    float: right;
}

.paragraph{
    font-family: "Avantgarde", cursive;
    color: white;
    font-size: 20px;
    line-height: 1.6;
    margin-left: 30px;
}

.image{
    flex-basis: 20%;
    position: relative;
    right: 0px;
    transition: 1.5s;
    overflow: hidden;
}

.me_image{
    flex-basis: 20%;
    border-radius: 20px;
    box-shadow: 8px 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    right: 0px;
    transition: 1.5s;
}

.exp_image{
    margin-right: 10px;
    margin-bottom: 30px;
    overflow: hidden;
}


.wrapper:hover .me_image {
    transition: 1.5s;
    right: 300px; 
}

.wrapper:hover .exp_image{
    transition: 0.8s;
    opacity: 0;
}


.parent {
    position: relative;
    top: 0;
    left: 0;
  }

  .layer2 {
    position: absolute;
    top: 100px;
    left: 30px;
    font-family: Silkscreen;
    color: white;
    line-height: 20px;
  }

.container{
    display: flex;
    align-items: center;
    justify-content: center
}

#experience{
    margin-top: 50px;
}

.exp_text{
    font-family: "Anton";
    font-size: 40px;
    color: white;
    letter-spacing: 6px;
    text-align: center;
    margin-bottom: 40px;
}

#break{
    padding: 50px 10px 50px 10px;
    background-color: #a5aad1;
    line-height: 1;
    margin: 75px 500px 40px 500px;
    border: 7px solid #8387a8;
    border-radius: 50px;
    vertical-align: middle;
}

.quote{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-align: center;
    line-height: normal;
    font-size: 18px;
}

.ground{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(images/ground.jpg);
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;

}

.justClouds{
    position: relative;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}


.justClouds .clouds{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     overflow: hidden;
     pointer-events: none;
}

.justClouds .clouds img{
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: animate calc(3s * var(--i)) linear infinite;
}

body{
    background-image: linear-gradient(white, #aa9cc0, #a99bbf, #c8acc3, #d2abc0, white);
}